<!DOCTYPE html>
<html>
<head>
  <title>TFP Track #3 Quiz--Result by Jim H.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Molle:400i" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="frosty navbar-header">
      <%= link_to 'Sunsetopia', root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to 'My Profile', user_path(current_user) %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up!', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<hr />
<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>


</body>
</html>
